#FormTipo
	display: flex

	#formCol1
		width: 400px

		#formCol1-row1
			display: flex
			justify-content: space-between
			align-items: center

		.btnAdiciona
			float: right
			top: -16px
			z-index: 1

		.tituloCampo
			font-size: 70%
			color: #b2b2b2
			margin: 10px 0

		.listaFilhos
			height: 250px
			border: 1px solid #ddd

			table
				position: relative
				top: -15px

	#formCol2
		margin-left: 50px
		width: 380px

		.arvore
			margin-top: 10px
			padding: 4px
			border: 1px solid #ddd
			overflow-y: auto
			height: 350px

		#finalButtons
			text-align: right
			padding: 18px 8px 8px 8px
