:import('../../_layout/tema.css') {
	blue500: blue500;
}

.wrap {
	display: flex;
	flex-direction: column;
}
.cabecalho {
	border-bottom: 1px solid #ddd;
	color: blue500;
	padding: 3px;
}
.corpo {
	padding: 10px 3px;
}
.abrangencia {
	max-height: 360px;
	overflow-y: auto;
}
