#Dashboard {
	display: flex;
	justify-content: center;
	min-height: 350px; // mas a altura do mapa é bem maior

	#Dashboard-card1 {
		margin: 0 6px;
		padding: 10px;
		display: flex;
		min-width: 900px;

		& > div {
			flex-grow: 1;
			display: flex;
		}
	}

	#Dashboard-card2 {
		width: 400px;
		margin: 0 6px;
		padding: 10px;
		display: flex;
	}
}
