@import '../_layout/constantes'

#SelecionaVisao
	.linha
		display: flex
		border-bottom: 1px solid #eaeaea
		margin-top: 6px

		.botao
			display: flex
			align-items: center
			padding: 12px
			text-decoration: none
			color: inherit
			font-size: 95%
			color: $azul-pgfn

			&:hover
				background-color: #f2f2f2

			&.botaoSelec
				color: white
				background-color: $azul-pgfn
