#LayoutLoginInfo-wrap > div {
	background-color: transparent !important;
}

#LayoutLoginInfo-userInfo {
	margin-right: 50px;
	display: inline-block;
	color: white;
	font-size: 90%;
}

#LayoutLoginInfo-logoff {
	margin: 7px 0 0 !important;
	color: white !important;
}
