#Layout {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	transition: left .3s, width .3s;

	&.hiddenMenu {
		left: -220px;
		width: calc(100vw + 220px);
		transition: left .3s, width .3s;
	}

	& > header {
		border-top: 20px solid #074e68; /* blue500 */
		margin-left: 0;
		transition: margin-left .3s;
	}
	& > header.hiddenMenu {
		margin-left: 220px;
		transition: margin-left .3s;
	}
	& .hamburger180 {
		transform: rotate(180deg);
		transition: transform .3s;
	}

	& > .body {
		flex-grow: 1;
		min-height: 0;
		display: flex;
	}

	& > .body > aside {
		overflow-y: auto;
		width: 220px;
		border-right: 1px solid #d8d8d8;
	}

	& > .body > main {
		flex-grow: 1;
		overflow-y: auto;
		padding: 12px;
	}

	& > footer {
		color: white;
		background-color: #074e68; /* blue500 */
		padding: 20px;
		/*height: 100px;*/
		margin-left: 0;
		transition: margin-left .3s;
	}
	& > footer.hiddenMenu {
		margin-left: 220px;
		transition: margin-left .3s;
	}
}
