#LayoutHeaderInfo > div {
	background-color: transparent !important;
	padding-top: 7px;
}

#LayoutHeaderInfo > .userInfo {
	margin-right: 50px;
	display: inline-block;
	color: white;
	font-size: 90%;
}
