#Layout {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	transition: left .3s, width .3s;
}
#Layout.hiddenMenu {
	left: -220px;
	width: calc(100vw + 220px);
	transition: left .3s, width .3s;
}

#Layout > header {
	border-top: 20px solid #074e68; /* blue500 */
	margin-left: 0;
	transition: margin-left .3s;
}
#Layout > header.hiddenMenu {
	margin-left: 220px;
	transition: margin-left .3s;
}
#Layout .hamburger180 {
	transform: rotate(180deg);
	transition: transform .3s;
}

#Layout > .body {
	flex-grow: 1;
	min-height: 0;
	display: flex;
}

#Layout > .body > aside {
	overflow-y: auto;
	width: 220px;
	border-right: 1px solid #d8d8d8;
}

#Layout > .body > main {
	flex-grow: 1;
	overflow-y: auto;
	padding: 12px;
}

#Layout > footer {
	color: white;
	background-color: #074e68; /* blue500 */
	padding: 20px;
	/*height: 100px;*/
	margin-left: 0;
	transition: margin-left .3s;
}
#Layout > footer.hiddenMenu {
	margin-left: 220px;
	transition: margin-left .3s;
}
